/*style of the section one header*/
#section1{
    padding: 24px;
    background-color: cyan;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 1000px;
}
/*style of the section one body*/
#section1body{
    padding: 24px;
    background-color: navy;
    color:aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 1100px;
}
/* style of the section 2 header*/
#section2{
    padding: 24px;
    color:purple;
    background-color: #f2a3f3;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 2000px;
}
/* style of the section 2 body*/
#section2body{
    padding: 24px;
    color:magenta;
    background-color: #f2a3f3;
    font-family: Helvetica;
    position: absolute;
    top: 2100px;
}
/*on the aboutus page button to get back to the index.html*/
#backButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
